assets/demo/2-logic-apps/logic-improve-your-azure-productivity-using-vs-code-preview/workflow.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Compose": {
                "type": "Compose",
                "inputs": "@triggerBody()",
                "runAfter": {
                    "Response": [
                        "Succeeded"
                    ]
                }
            },
            "Compose_3": {
                "type": "Compose",
                "inputs": "@triggerBody()",
                "runAfter": {
                    "Response": [
                        "Succeeded"
                    ]
                }
            },
            "Response": {
                "type": "Response",
                "inputs": {
                    "statusCode": 200,
                    "body": {
                        "echo": "@{triggerBody()?['input']}"
                    }
                },
                "runAfter": {}
            }
        },
        "triggers": {
            "request": {
                "type": "Request",
                "kind": "Http",
                "inputs": {
                    "schema": {
                        "properties": {
                            "input": {
                                "type": "string"
                            }
                        },
                        "type": "object"
                    }
                }
            }
        },
        "contentVersion": "1.0.0.0"
    }
}